@import url(https://fonts.googleapis.com/css?family=Roboto);@charset "UTF-8";

.bg-apple-green,
.alert.alert-success,
.btn.btn-success,
.card:after {
  background-color: #96BB00;
}

.bg-bittersweet,
.alert.alert-danger {
  background-color: #FF715B;
}

.bg-bleue-de-france,
.bg-primary,
.btn.btn-primary {
  background-color: #3C91E6;
}

.bg-ice,
.accordion-header,
.btn.btn-white,
html,
body,
.hamb-top,
.hamb-middle,
.hamb-bottom,
.social li {
  background-color: #FAFFFD;
}

.bg-grey,
.accordion-header {
  background-color: #E1E2E3;
}

.bg-feldgrau,
.accordion-header:hover,
.accordion-header.active {
  background-color: #4C5B5C;
}

.bg-charcoal,
.transparent,
.sidenav {
  background-color: #1C2222;
}

.bg-transparent,
.btn.btn-transparent,
.hamburger {
  background-color: transparent;
}

.bg-init {
  background-color: inherit;
}

.backgroung-img,
.backgroung-bnr {
  position: relative;
  background-image: url(/images/PIA08093-orig.jpg);
  /* source: https://images-assets.nasa.gov/image/PIA08093/PIA08093~orig.jpg */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.backgroung-img {
  height: 100%;
}

.transparent {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 25, 32, 0.38)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(16, 25, 32, 0.38), rgba(0, 0, 0, 0.5));
  background: rgba(16, 25, 32, 0.38);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba($color, $opacity)', endColorstr='rgba(0, 0, 0, 0.5)', GradientType=0 );
}

.outline-none,
.accordion-button,
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}

.border-none,
.accordion-button,
.btn.btn-border-none,
.hamburger {
  border: none;
}

.border-zero,
.message-alert,
.alert.alert-danger,
.alert.alert-success,
.card {
  border: 0;
}

.border-color-apple-green,
.btn.btn-success {
  border-color: #96BB00;
}

.border-color-bittersweet,
.has-error {
  border-color: #FF715B;
}

.border-color-bleue-de-france,
.btn.btn-primary {
  border-color: #3C91E6;
}

.border-color-ice,
.btn.btn-transparent {
  border-color: #FAFFFD;
}

.border-color-grey {
  border-color: #E1E2E3;
}

.border-color-feldgrau {
  border-color: #4C5B5C;
}

.border-color-charcoal {
  border-color: #1C2222;
}

.border-color-transparent {
  border-color: transparent;
}

.border-color-init {
  border-color: inherit;
}

.c-apple-green {
  color: #96BB00;
}

.c-bittersweet {
  color: #FF715B;
}

.c-bleue-de-france {
  color: #3C91E6;
}

.c-ice,
.transparent,
.btn.btn-primary,
.btn.btn-success,
.btn.btn-transparent,
.hamburger::before,
.sidenav a {
  color: #FAFFFD;
}

.c-grey {
  color: #E1E2E3;
}

.c-feldgrau,
.accordion-button:after,
.sidenav a:hover {
  color: #4C5B5C;
}

.c-charcoal,
.btn.btn-white,
.social a {
  color: #1C2222;
}

.c-transparent {
  color: transparent;
}

.c-init,
.accordion-button {
  color: inherit;
}

.dp-none,
.hamburger.is-open .hamb-middle {
  display: none;
}

.dp-block,
.hamburger,
.hamburger.is-closed:hover::before,
.hamburger.is-open:hover::before,
.sidenav a,
.social li,
.social a {
  display: block;
}

.dp-flex,
.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dp-inline {
  display: inline;
}

.dp-inline-block {
  display: inline-block;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-nowrap,
.captcha,
.sidenav .navbar,
.sidenav .navbar > .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-1 {
  font-size: 4rem;
}

.header-2,
h2,
.header-title {
  font-size: 2.75rem;
}

.header-3,
.display-4,
.header-lead,
.sidenav a {
  font-size: 1.5rem;
}

.header-4 {
  font-size: 1rem;
}

.font-size-regular,
p {
  font-size: 1rem;
}

.font-size-small,
.hamburger.is-open::before {
  font-size: 1rem;
}

.font-size-x-small,
.accordion-button:after,
.hamburger.is-closed::before {
  font-size: 0.6875rem;
}

.font-weight-bold,
.main-title,
.second-title,
.header-title {
  font-weight: bold;
}

.opacity-none,
.hamburger::before {
  opacity: 0;
}

.opacity-full,
.hamburger.is-closed:hover::before,
.hamburger.is-open:hover::before {
  opacity: 1;
}

.position-fixed,
.menu.fixed,
.sidenav {
  position: fixed;
}

.position-absolute,
.card:after,
.hamb-top,
.hamb-middle,
.hamb-bottom,
.hamburger {
  position: absolute;
}

.position-top-zero,
.card:after,
.hamburger.is-closed:hover .hamb-top,
.sidenav {
  top: 0;
}

.position-top-alf-screen,
.hamburger.is-closed .hamb-middle,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
}

.position-right-zero,
.menu.right {
  right: 0;
}

.position-bottom-zero,
.hamburger.is-closed:hover .hamb-bottom,
.menu.bottom {
  bottom: 0;
}

.position-left-zero,
.card:after,
.hamb-top,
.hamb-middle,
.hamb-bottom,
.sidenav {
  left: 0;
}

.shadow,
.card {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.shadow-rised,
.btn.btn-rised {
  -webkit-box-shadow: 0 1.5rem 5rem 0 rgba(0, 0, 0, 0);
  box-shadow: 0 1.5rem 5rem 0 rgba(0, 0, 0, 0);
}

.shadow-text-light,
h1,
h2 {
  text-shadow: 0 0 1.25rem #4C5B5C;
}

.shadow-light,
.btn.shadow-light,
.social li {
  -webkit-box-shadow: 0 0 1.25rem #4C5B5C;
          box-shadow: 0 0 1.25rem #4C5B5C;
}

.width-x-large,
.social a {
  width: 4rem;
}

.width-100prc,
.accordion-button,
.card:hover::after,
.hamb-top,
.hamb-middle,
.hamb-bottom {
  width: 100%;
}

.width-zero,
.card:after,
.sidenav,
.sidenav.is-closed {
  width: 0;
}

.height-x-large,
.social a {
  height: 4rem;
}

.height-100prc,
.sidenav {
  height: 100%;
}

.height-zero {
  height: 0;
}

.text-left,
.accordion-button,
.header-title {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center,
.hamburger::before,
.sidenav .navbar,
.sidenav .navbar > .nav,
.social li,
.social a {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.accordion-button {
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.accordion-button:after {
  content: "\2795";
  float: right;
  margin-left: 5px;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
}

.active .accordion-button:after {
  content: "\2796";
}

.message-alert,
.alert.alert-danger,
.alert.alert-success {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.card:after {
  content: '';
  height: 2px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/*
* Globals
*/

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
}

.main-title {
  font-size: 14vmin;
}

.second-title {
  font-size: 9vmin;
}

.header-title {
  margin-bottom: 2rem;
}

.pl-2-6,
.px-2-6 {
  padding-left: .65rem;
}

.pr-2-6,
.px-2-6 {
  padding-right: .65rem;
}

/*
* Captcha
*/

.hamb-top {
  height: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamb-middle {
  height: 4px;
}

.hamb-bottom {
  height: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger {
  top: 1.25rem;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  z-index: 999;
  cursor: pointer;
}

.hamburger::before {
  content: '';
  width: 100px;
  line-height: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger.is-closed:hover::before {
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger.is-closed .hamb-top {
  top: 5px;
}

.hamburger.is-closed .hamb-middle {
  margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
}

.hamburger.is-open .hamb-top {
  margin-top: -2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-timing-function: -webkit-transform 1s cubic-bezier(0.73, 1, 0.28, 0.08);
  transition-timing-function: transform 1s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-bottom {
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-timing-function: -webkit-transform 1s cubic-bezier(0.73, 1, 0.28, 0.08);
  transition-timing-function: transform 1s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open:hover::before {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}

.sidenav {
  z-index: 1;
  overflow-x: hidden;
  padding-top: 4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.sidenav .navbar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

#main.is-closed {
  margin-left: 0;
}

.social li {
  line-height: 8vmin;
  height: 8vmin;
  width: 8vmin;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social li:hover {
  -webkit-transform: scale(1.3, 1.3) rotate(45deg);
  transform: scale(1.3, 1.3) rotate(45deg);
}

.social a {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .display-4 {
    font-size: calc($regular-text + 0.66667vw);
  }
}

@media only screen and (min-width: 701px) {
  .sidenav.is-open {
    width: 23%;
    text-align: center;
  }

  #main.is-open {
    margin-left: 23%;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
    position: fixed;
  }

  .sidenav {
    padding-top: 1rem;
  }

  .sidenav.is-open {
    width: 100%;
  }

  #main.is-open {
    margin-left: 0;
  }

  .hamburger {
    width: 8vmin;
    height: 8vmin;
  }

  .hamb-top,
  .hamb-middle,
  .hamb-bottom {
    height: .8vmin;
  }

  .social li a i {
    vertical-align: 5.5vmin;
  }
}

