@media screen and (max-width: 1200px), (min-width: 768px) {
  .display-4 {
    font-size: calc($regular-text + 0.66667vw);
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 4rem;
  }
  .container {
    max-width: none;
  }
  .form-control,
  .btn {
    font-size: 2.5rem;
  }
  .captcha {
    width: 100%;
    #captchaView {
      flex-grow: 3;
      img {
        width: 100%;
      }
    }
    #captchaRefresh {
      flex-grow: 1;
      i {
        font-size: 2.5rem;
      }
    }
  }
  .hamburger {
    position: fixed;
  }
  .sidenav {
    padding-top: $size-small;
    &.is-open {
      width: $fullScreen;
    }
    .navbar {
      .nav {
        a { font-size: 4rem;}
      }
    }
  }
  #main.is-open {
    margin-left: 0;
  }
  .hamburger {
    width: 8vmin;
    height: 8vmin;
  }
  .hamb-top,
  .hamb-middle,
  .hamb-bottom {
    height: .8vmin;
  }
  .backgroung-img {
    .social {
      li {
        line-height: 6rem;
        height: 6rem;
        width: 6rem;
        a {
          font-size: 2.5rem;
          padding-top: $size-very-x-small;
        }
      }
    }
    .btn-lg {
      padding: 1rem 2rem;
      font-size: 3rem;
    }
  }
  .backgroung-bnr {
    .social {
      li {
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
        a {
          font-size: $size-large-small;
        }
      }
    }
  }
  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  p {font-size: 1.5rem}
  .header-lead {font-size: 2rem}
  .header-title {font-size: 3rem}
  .connection,
  .take-contact {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
